<!DOCTYPE html>
<html lang="en">
  <%- include('layout/metaData') %>

  <body>
    <%- include('layout/header') %>

    <div class="container">
      <div class="m-3">
        <div class="d-flex flex">
          <h1 class="me-auto"><%= pageTitle %></h1>
        </div>

        <div class="table-responsive">
          <table class="table table-secondary table-striped text-center my-3">
            <thead>
              <tr class="table-dark">
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% items.forEach(item => { %>
              <tr scope="row">
                <td><%= item.name %></td>
                <td><%= item.quantity %></td>
                <td>
                  <%= item.price.toLocaleString('en-CA', { style: 'currency',
                  currency: 'CAD' }) %>
                </td>
                <td><%= item.description %></td>
                <td class="d-flex flex-row">
                  <a
                    href="/edit/<%= item.inventory_id %>"
                    class="btn btn-warning btn-md active text-white mx-auto"
                    role="button"
                    aria-pressed="true"
                    class="mx-2"
                    ><span> <i class="fa-solid fa-pen-to-square"></i> </span>
                    Edit</a
                  >

                  <form action="/delete/<%= item.inventory_id %>" method="post">
                    <button type="submit" class="btn btn-danger">
                      <span> <i class="fa-solid fa-trash"></i></span>Delete
                    </button>
                  </form>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <%- include('layout/footer') %>
  </body>
</html>
